
  /* navbar */

  nav{
      background: var(--clr-white);
      box-shadow: var(--light-shadow);
  }

  .nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .nav-logo{
      width: 60px;
      height:60px;
  }
  .nav-toggle{
      font-size: 1.5rem;
      color: var(--clr-primary-5);
      background: transparent;
      border: transparent;
      transition: var(--transition);
      cursor: pointer;
  }

  .nav-toggle:hover{
      color: var(--clr-primary-1);
      transform: rotate(90deg);
  }

  .nav-links a{
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
  }

  .nav-links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
  }

  .social-icons {
    display: flex;
  }

  .nav-links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-nav-container {
    /* height: 12.5rem; */
    height: auto;
  }








  @media screen and (min-width:800px){
      .nav-center{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          margin: 0 auto;
      }
      .nav-header{
          padding:0;
      }
      .nav-toggle{
          display: none;
      }

      .nav-links-container{
          height: auto;
      }
      .nav-links{
          display: flex;
      }

      .nav-links a {
        padding: 0;
        margin: 0 0.5rem;
      }
      .nav-links a:hover {
        padding: 0;
        background: transparent;
      }

      .social-icons {
        display: flex;
      }
      .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
      }
      .social-icons a:hover {
        color: var(--clr-primary-7);
      }

  }